[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://developer.download.nvidia.com/compute/redist"
verify_ssl = true
name = "nvidia"

[packages]
fritz = "==1.0.0b3"
google-cloud-storage = "*"
coremltools = {editable = true,git = "https://github.com/ghop02/coremltools.git",ref = "upadted-keras-bilinear-sampling"}
nvidia-dali-tf-plugin = {version="*", index="nvidia"}

[dev]
tensorflow = "*"


[requires]
python_version = "3.6"
